.conteudo_box{
    justify-content: center;
}

.titulo_cadrastro{
    margin-bottom: 10px;
}
.box_05{
    padding: 24px 24px;
    
    width: 1060px;
    height: 620px;

    background-color: #ffffff;
    border: 1px solid #bfbebb;
    box-shadow: 0px 2px 8px rgba(106, 115, 129, 0.12);
    border-radius: 5px;

    overflow-y: scroll;
}

.box_02 .topo_box{
    display: flex;   
    
}

.botoes_baixo{
    display: flex;  
    padding: 10px;
    margin-left: 83%
    
}


.titulo_cadrastro{
    padding-bottom: 10px;
}

.botao_editar{
    align-items: flex-end ;
    margin: 5px;
    padding: 10px;
    background-color: #f9bc2a;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}


.botao_cancelar{
    align-items: flex-end ;
    margin: 5px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #BDBDBD;
    border-radius: 0.25rem;
    cursor: pointer;
    color: #212121;
}