

.nav-esquerdo{
    z-index: 1;
    width: 255px;
    flex-basis: 255px;
    flex-shrink: 0;
    height: 100vh;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}

 .nav-esquerdo a{
    display: block;
    color: #f9bc2a;
    padding: 20px;
    text-decoration: none;
}

.nav-esquerdo a:hover{
    background-color: #353535;

}

