.pagina-v{
    display: block;
    background-color: #F3F3F3;
}


.pagina-v .conteudo{
    display: flex;
	height: 100vh;
	width: 100vw;
    
}

.pagina-v .conteudo .boox-v{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.pagina-v .conteudo .boxavaliacao{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

