.PaginaCadastro {
	height: inherit;
}


.Cadastro {
	background-color: white;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.Cadastro .Formulario {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.Cadastro footer {
	align-self: flex-end;
	display: flex;
	gap: 16px;
}

.PaginaCadastro .DadosPessoais {
	width: 100%;
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr 1fr 1fr;
}

.PaginaCadastro .DadosEndereco {
	width: 100%;
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.PaginaCadastro .DadosPessoais article,
.PaginaCadastro .DadosEndereco article {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	width: 1fr;
}

.PaginaCadastro .DadosPessoais article input,
.PaginaCadastro .DadosEndereco article input{
	width: 100%;
}

.PaginaCadastro .grid-nome {
	grid-column: 1/3;
}

.PaginaCadastro .grid-rua {
	grid-column: 1/3;
}

.PaginaCadastro .grid-bairro {
	grid-column: 3/5;
}

.PaginaCadastro .grid-cidade {
	grid-column: 1/3;
}