.PaginaVisualizar {
	height: inherit;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 16px;
}

.header button {
	width: fit-content;
}

.Visualizar,
.EditarAvaliacao {
	background-color: white;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.Visualizar .Formulario {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.Visualizar footer {
	align-self: flex-end;
	display: flex;
	gap: 16px;
}

.TabelaAvaliacao, .container {
	background-color: white;
	border-radius: 8px;
	width: 100%;
	overflow: hidden;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 16px;
}

th,
td {
	width: 100%;
	height: auto;
	padding: 16px;
	align-items: center;
	/* border: solid red 1px; */
}

.Tabela-Avaliador {
	width: 30%;
}

tr:hover {
	background-color: #ebebeb;
}

tr:nth-child(even) {
	background-color: #fcfcfc;
}

/* .Tabela-Botoes {
	display: flex;
	gap: 16px;
	justify-content: center;
	width: fit-content;
} */

.body-tabela .inicio-tabela .tipo .card-tipo {
	box-sizing: border-box;
	align-items: center;
	gap: 10px;
	height: 28px;
	background-color: rgba(15, 170, 30, 0.25);
	border: 1px solid #0faa1e;
	border-radius: 5px;
}
