.PaginaVisualizarAvaliacao {
	height: inherit;
}

.PaginaVisualizarAvaliacao .VisualizarAvaliacao .Formulario h3 {
	padding-bottom: 12px;
	padding-top: 12px;
}

.VisualizarAvaliacao {
	background-color: white;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.VisualizarAvaliacao .Formulario {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.VisualizarAvaliacao footer {
	align-self: flex-end;
	display: flex;
	gap: 16px;
}

.PaginaVisualizarAvaliacao .Formulario .Bioimpedancia,
.PaginaVisualizarAvaliacao .Formulario .Tronco,
.PaginaVisualizarAvaliacao .Formulario .MembrosSuperiores,
.PaginaEVisualizarAvaliacao .Formulario .MembrosInferiores {
	width: 100%;
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.PaginaVisualizarAvaliacao .Formulario .MembrosSuperiores,
.PaginaVisualizarAvaliacao .Formulario .MembrosInferiores{
	width: 100%;
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr 1fr 1fr;
}

.PaginaVisualizarAvaliacao .Bioimpedancia article,
.PaginaVisualizarAvaliacao .Tronco article,
.PaginaVisualizarAvaliacao .MembrosSuperiores article,
.PaginaVisualizarAvaliacao .MembrosInferiores article {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	width: 1fr;
}

.PaginaVisualizarAvaliacao .Bioimpedancia article input,
.PaginaVisualizarAvaliacao .Tronco article input,
.PaginaVisualizarAvaliacao .MembrosSuperiores article input,
.PaginaVisualizarAvaliacao .MembrosInferiores article input {
	width: 100%;
}