.PaginaCadastro {
	height: inherit;
}


.Cadastro {
	background-color: white;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.Cadastro .Formulario {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.Cadastro footer {
	align-self: flex-end;
	display: flex;
	gap: 16px;
}
