.PaginaCadastro {
	height: inherit;
}

.Cadastro {
	background-color: white;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.Cadastro header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
}

.Cadastro .Formulario {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}
