.Alert {
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 9999;
	height: 100vh;
	display: flex;
	width: 100vw;
}

.Alert .modal {
	background-color: white;
	position: inherit;
	padding: 16px;
	width: 464px;

	flex-direction: column;
	display: flex;
	gap: 16px;
}

.Alert .modal .header {
	flex-direction: column;
	display: flex;
	gap: 8px;
}

.Alert .modal .buttons-area {
	align-self: flex-end;
	display: flex;
	gap: 16px;
}

.Alert .modal .return-Button {
	background-color: transparent;
	position: absolute;
	border: none;
	padding: 8px;
	right: 8px;
	top: 8px;

	height: 44px;
	width: 44px;
}

.Alert .modal .return-Button img {
	height: 24px;
	width: 24px;
}
