/* Todo o CSS usado em todas as páginas. */

* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

input {
	border: solid 1px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	line-height: 20px;
	font-size: 16px;
	padding: 10px;
}

.button-primary {
	background-color: #f9bc2a;
	width: min-content;
	padding: 10px 24px;
	border-radius: 4px;
	font-weight: bold;
	line-height: 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
}

.button-text {
	background-color: transparent;
	width: min-content;
	border-radius: 4px;
	font-weight: bold;
	padding: 10px 8px;
	line-height: 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
}
