
.grid-2c{
	width: 100%;
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr 1fr;
}

.grid-3c{
	width: 100%;
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-4c{
	width: 100%;
	display: grid;
	gap: 16px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-2c article,
.grid-3c article,
.grid-4c article {
    display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	width: 1fr;
}

.grid-2c article input,
.grid-3c article input,
.grid-4c article input {
    width: 100%;
    height: 44px;
}




/* .grid-nome {
	grid-column: 1/2;
}

.grid-rua {
	grid-column: 1/2;
}

.grid-matricula {
	grid-column: 1/2;
} */